<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href=https://github.com/jsamaniego94/>Jacquelyn</a> 
  </p>

  <br />
  <p>

    Jacquelyn has been interested in web developing and programming since 2006. She has fianlly taken on the challenge of learning code through the University of Arizona Coding Boot Camp.

  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'myimage.jpg', class: 'img-fluid' %>
    </div>

    
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />